@property --inputColor1 {
  syntax: "<color>";
  initial-value: #e4e7ec;
  inherits: false;
}

@property --inputColor2 {
  syntax: "<color>";
  initial-value: #e4e7ec;
  inherits: false;
}

.textInputContainer:has(:hover):before {
  --inputColor1: #b9bdc7;
  --inputColor2: #b9bdc7;
}
.textInputContainer:has(:focus):before,
.textInputContainer[data-open="true"]:before {
  --inputColor1: #d7ab07;
  --inputColor2: #e86555;
}
.textInputContainer[data-error="true"]:before {
  --inputColor1: #f04438;
  --inputColor2: #f04438;
}
.textInputContainer[data-success="true"]:before {
  --inputColor1: #12b76a;
  --inputColor2: #12b76a;
}
